body{
    min-width: 300px;
    min-height: 100vh;
    background: linear-gradient(160deg,#a4dcfc,#ff99d8 );
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #fff;
}

h1{
    font-size: 28px;
    font-weight: 600;
} 
h2{
    font-size: 24px;
    font-weight: 300;
}
h3{
    font-size: 21px;
    font-weight: 300;
}
p{
    font-size: 18px;
    font-weight: 300;
}
.text{
    text-align: center;
    font-size: 15px;
    font-weight: 100;
}
.text2{
    font-size: 18px;
    font-weight: 300;
}
.caution_text{
    font-size: 18px;
    font-weight: 600;
    color: #ff99d8;
}
a{
    color: #fff;
    text-decoration: none;
}
.yajirusi{
    position: absolute;
    top:0px;
    left: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 30px;
    height: 26px;
    object-fit: contain;
}
.main{
    padding-top: 120px;
    margin-left: 20px;
    margin-right: 20px;
}
.main div{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 10px;
}
/*button1*/
/*
.button1{
    display: flex;
    justify-content: center;
}*/

.button1{
    display: inline-block;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 30px;
    padding-right: 30px;
    color: #67596d;
    font-weight: 300;
    font-size: 21px;
    line-height: 2.0;
    text-decoration: none;
    background-color: #fce2ff;
    background: linear-gradient(160deg,#fdedff,#ead4ec );
    width: auto;
    height: 42px;
    border-radius: 21px;
    border-style: none;
}
.button1:active{
    background: linear-gradient(160deg,#ddbbe0,#b27bb8 );
}
.button1:hover{
    color: #67596d85;
}
.button1:focus{
    outline: none;
}


.button2{
    display: inline-block;
    text-align: center;
    margin-left: 8px;
    margin-right: 8px;
    padding-left: 10px;
    padding-right: 10px;
    color: #67596d;
    font-weight: 100;
    font-size: 16px;
    line-height: 1.0;
    text-decoration: none;
    background-color: #ffffffbb;
    width: auto;
    height: 30px;
    border-radius: 8px;
    border-style: none;
}
.button2:active{
    background-color: rgba(194, 194, 194, 0.712);
}
.button2:focus{
    outline: none;
}



/*テキストbox*/
.textbox{
    margin-left: auto;
    width: 210px;
    height: 30px;
    border-radius: 15px;
    border: none;
    font-size: 16px;
    padding-left: 18px;
    border: solid #ffffff00 2px;
}
label{
    width: 130px;
    margin-bottom: 10px; 
}
.textbox:focus{
    outline: none;
    border: solid #a4dcfc 2px;
}
.textarea{
    width: 210px;
    height: 120px;
    border-radius: 15px;
    border: none;
    font-size: 16px;
    padding-left: 18px;
    border: solid #ffffff00 2px;
}
.textarea:focus{
    outline: none;
    border: solid #a4dcfc 2px;
}
/*テキストbox終了*/
.selectbox{

    width: 90px;
    height: 30px;
    margin-left: 10px;
    border-radius: 15px;
    border: none;
    font-size: 16px;
    padding-left: 18px;
    border: solid #ffffff00 2px;
}
.selectbox:focus{
    outline: none;
    border: solid #a4dcfc 2px;
}



/* アイコン*/
/*icon-areaとiconのサイズを変更するだけでOK*/

.icon{
    position: relative;
    width: 120px;
    height: 120px;
}
.icon_img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: #5a5a5a 0px 8px 12px;
}
.icon_img2{
    position: absolute;
    top: 50%;
    z-index: 1;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform: translate(-100%, -50%);
    object-fit: cover;
}
.icon-mask{
    position: absolute;
    top: 50%;
    z-index: 2;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform: translate(0%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0);
}
.icon-mask:hover{
    color: #fff;
    text-shadow: #7c7c7c 4px 4px 6px;
    background-color: #5e5e5e77;

}
.icon-mask2{

    position: absolute;
    top: 50%;
    z-index: 3;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform: translate(0%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
}
.icon-mask2:hover{
    text-shadow: #7c7c7c 4px 4px 6px;
    background-color: #5e5e5e77;

}
.icon-mask2 input{
    display: none;
}
/*アイコン終了*/
@media(min-width: 640px){
    h1{
        font-size: 68px;
    }
    h2{
        font-size: 42px;
        font-weight: 300;
    }h3{
        font-size: 36px;
        font-weight: 300;
    }p{
        font-size: 30px;
        font-weight: 300;
    }
    .text{
        font-size: 24px;
        font-weight: 300;
    }
    .text2{
        font-size: 28px;
        font-weight: 100;
    }
    .caution_text{
        font-size: 30px;
        font-weight: 600;
        color: #ff99d8;
    }

    .yajirusi{
        position: absolute;
        top:0px;
        left: 20px;
        margin-top: 40px;
        margin-bottom: 40px;
        width: 40px;
        height: 40px;
        object-fit: contain;
    }

    label{
        margin-bottom: 0px; 
    }

    .main{
        padding-top: 160px;
        margin-left: auto;
        margin-right: auto;
        width: 600px;
    }
    .main div{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
    }

    
}